<footer class="footer text-center" th:fragment="common-footer">
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © Website 2020</small></div>
    </div>
</footer>