.pagination-div{user-select: none;}
.pagination-div span{border-radius:3px;border:1px solid #999;
    padding:5px;margin:10px 0px 0px 10px;display:inline-block}
span.selected{background:#ccf;}
.navbar{border-radius: 0 !important;}
.bg-secondary{background-color: #000000 !important;}
.footer{padding-top: 0 !important;padding-bottom: 0 !important;}

