<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: common-header" />
<body>
<script th:inline="javascript">
    //thymeleaf to javascript variables
    /*<![CDATA[*/
    var sortProperty = /*[[${sortProperty}]]*/ null;
    var sortDesc = /*[[${sortDesc}]]*/ null;
    var currentPage = /*[[${page.number}]]*/ 0;
    var pageSize =/*[[${page.size}]]*/ 0;
    var lastName = /*[[${lastName}]]*/ null;
    /*]]>*/

    $(document).ready(function(){
        //show up/down arrows
        $("table#emp-table thead th#sortPage").each(function(){
            var head = $(this);
            if(head.attr('data-sort-prop')==sortProperty){
                head.append(sortDesc?'▾':'▴');
            }
        });

        //set click action, reload page on clicking with all query params
        $("table#emp-table thead th#sortPage").click(function() {
            var headerSortPropName = $(this).attr("data-sort-prop");

            var lastname = $('#lastName').val();
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();

            if(headerSortPropName==sortProperty){

                window.location.href = window.location.pathname+
                    '?lastName='+lastname +'&startDate='+startDate + '&endDate='+endDate+'&page='+currentPage+'&size='+pageSize+'&sort='+
                    headerSortPropName+','+
                    (sortDesc?'asc':'desc');
            }else{
                window.location.href = window.location.pathname+
                    '?lastName='+lastname+'&startDate='+startDate + '&endDate='+endDate+'&page='+currentPage+'&size='+pageSize+'&sort='+
                    headerSortPropName+',asc';
            }

        });
    });
</script>
<div th:replace="fragments/nav :: common-nav"/>
<div class="container my-2" style="padding-bottom: 70px;padding-top: 40px;">
    <div class="card">
        <div class="card-body">
            <div class="container my-5">
                <div class="col-md-10">
                    <h3 class="my-5 font-weight-bold">Search:</h3>
                    <form action="#" th:action="@{/employees/search}" method="get">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="lastName"
                                    placeholder="Input last name..." th:value="${lastName}" id="lastName">
                                <label class="col-form-label">Choose Hire Date</label><br/>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                Begin Date
                                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                    <input type="search" class="form-control datetimepicker-input"
                                           data-target="#datetimepicker1"
                                           name="startDate" id="startDate"
                                           th:value="${#dates.format(startDate, 'yyyy-MM-dd')}"
                                           placeholder="Input Begin Date"/>
                                    <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                            </div>
                            </div>
                            <div class="form-group col-md-6">
                                End Date
                                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                    <input type="search" class="form-control datetimepicker-input"
                                           data-target="#datetimepicker1"
                                           name="endDate" id="endDate"
                                           th:value="${#dates.format(endDate, 'yyyy-MM-dd')}"
                                           placeholder="Input End Date"/>
                                    <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                            </div>
                        </div>
                            </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="submit" class="btn btn-primary" value="Search">
                            </div>
                        </div>
                        </div>

                    </form>
                </div>


            <div th:switch="${page}" class="container my-5">
                <div class="col-md-10">
                    <p class="my-5" th:text="${param.q}"></p>
                <p class="my-5">
                    <a href="/employees/new" class="btn btn-primary">Add Employee</a>
                </p>
                </div>
                <div class="col-md-10">
                    <h2 th:case="null">No Emoloyees yet!</h2>
                    <div th:case="*">
                        <table id="emp-table" class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th id="sortPage" data-sort-prop="employeeId">Id</th>
                                <th id="sortPage" data-sort-prop="firstName">First Name</th>
                                <th id="sortPage" data-sort-prop="lastName">Last Name</th>
                                <th id="sortPage" data-sort-prop="title">Title</th>
                                <th id="sortPage" data-sort-prop="titleOfCourtesy">Title Of Courtesy</th>
                                <th id="sortPage" data-sort-prop="birthDate">Birth Date</th>
                                <th id="sortPage" data-sort-prop="hireDate">Hire Date</th>
                                <th>Images</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="employee : ${page}">
                                <td th:text="${employee.employeeId}"></td>
                                <td th:text="${employee.firstName}"></td>
                                <td th:text="${employee.lastName}"></td>
                                <td th:text="${employee.title}"></td>
                                <td th:text="${employee.titleOfCourtesy}"></td>
                                <td th:text="${#dates.format(employee.birthDate, 'dd-MM-yyyy')}"></td>
                                <td th:text="${#dates.format(employee.hireDate, 'dd-MM-yyyy')}"></td>
                                <td>
                                    <img th:src="@{'/images/' + ${employee.employeeId + '_photo' + '.jpg'}}" width="50" height="50"/>
                                </td>
                                <td><a th:href="@{/employees/edit/{id}(id=${employee.employeeId})}"
                                       class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a th:href="@{/employees/delete/{id}(id=${employee.employeeId})}"
                                       class="btn btn-primary" onclick="return confirm('Delete this employee ?')"><i
                                        class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                            </tbody>

                        </table>
                        <div class="pagination-div" th:with="sortParam=${sortProperty+','+(sortDesc?'desc':'asc')}">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/employees/list(page=${page.number-1},size=${page.size},sort=${sortParam})}">
            Previous</a>
    </span>
                            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                                <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                                <span th:unless="${page.number == i}">
             <a th:href="@{/employees/list(page=${i},size=${page.size},sort=${sortParam})}">[[${i}+1]]</a>
        </span>
                            </th:block>
                            <span th:if="${page.hasNext()}">
        <a th:href="@{/employees/list(page=${page.number+1},size=${page.size},sort=${sortParam})}">Next</a>
    </span>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div th:replace="fragments/footer" :: common-footer/>


<script th:inline="javascript">
    $(function() {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    });
</script>


</body>
</html>