<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: common-header" />
<body>
<script th:inline="javascript">
    //thymeleaf to javascript variables
    /*<![CDATA[*/
    var sortProperty = /*[[${sortProperty}]]*/ null;
    var sortDesc = /*[[${sortDesc}]]*/ null;
    var currentPage = /*[[${page.number}]]*/ 0;
    var pageSize =/*[[${page.size}]]*/ 0;
    var lastName = /*[[${lastName}]]*/ null;
    /*]]>*/

    $(document).ready(function(){
        //show up/down arrows
        $("table#emp-table thead th#sortPage").each(function(){
            var head = $(this);
            if(head.attr('data-sort-prop')==sortProperty){
                head.append(sortDesc?'▾':'▴');
            }
        });

        //set click action, reload page on clicking with all query params
        $("table#emp-table thead th#sortPage").click(function() {
            var headerSortPropName = $(this).attr("data-sort-prop");

            var name = $('#name').val();
            var description = $('#description').val();

            if(headerSortPropName==sortProperty){

                window.location.href = window.location.pathname+
                    '?name='+name +'&description='+description + '&page='+currentPage+'&size='+pageSize+'&sort='+
                    headerSortPropName+','+
                    (sortDesc?'asc':'desc');
            }else{
                window.location.href = window.location.pathname+
                    '?name='+name+'&description='+description+ '&page='+currentPage+'&size='+pageSize+'&sort='+
                    headerSortPropName+',asc';
            }

        });
    });
</script>
<div th:replace="fragments/nav :: common-nav"/>
<div class="container my-2" style="padding-bottom: 70px;padding-top: 40px;">
    <div class="card">
        <div class="card-body">
            <div class="container my-5">
                <div class="col-md-10">
                    <h3 class="my-5 font-weight-bold">Search:</h3>
                    <form action="#" th:action="@{/department/search}" method="get">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="name"
                                       placeholder="Input name..." th:value="${name}" id="name">
                                <label class="col-form-label">Description</label><br/>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="description"
                                       placeholder="Input description..." th:value="${description}" id="description">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="submit" class="btn btn-primary" value="Search">
                            </div>
                        </div>
                </div>

                </form>
            </div>


            <div th:switch="${page}" class="container my-5">
                <div class="col-md-10">
                    <p class="my-5" th:text="${param.q}"></p>
                    <p class="my-5">
                        <a href="/employees/new" class="btn btn-primary">Add Description</a>
                    </p>
                </div>
                <div class="col-md-10">
                    <h2 th:case="null">No Department yet!</h2>
                    <div th:case="*">
                        <table id="emp-table" class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th id="sortPage" data-sort-prop="id">Id</th>
                                <th id="sortPage" data-sort-prop="name">Name</th>
                                <th id="sortPage" data-sort-prop="description">Description</th>
                                <th id="sortPage" data-sort-prop="note">Note</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="department : ${page}">
                                <td th:text="${department.id}"></td>
                                <td th:text="${department.name}"></td>
                                <td th:text="${department.description}"></td>
                                <td th:text="${department.note}"></td>

                                <td><a th:href="@{/department/edit/{id}(id=${department.id})}"
                                       class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a th:href="@{/department/delete/{id}(id=${department.id})}"
                                       class="btn btn-primary" onclick="return confirm('Delete department ?')"><i
                                        class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                            </tbody>

                        </table>
                        <div class="pagination-div" th:with="sortParam=${sortProperty+','+(sortDesc?'desc':'asc')}">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/department/list(page=${page.number-1},size=${page.size},sort=${sortParam})}">
            Previous</a>
    </span>
                            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                                <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                                <span th:unless="${page.number == i}">
             <a th:href="@{/department/list(page=${i},size=${page.size},sort=${sortParam})}">[[${i}+1]]</a>
        </span>
                            </th:block>
                            <span th:if="${page.hasNext()}">
        <a th:href="@{/department/list(page=${page.number+1},size=${page.size},sort=${sortParam})}">Next</a>
    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer" :: common-footer/>

</body>
</html>