<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: common-header" />
<body>

<div th:replace="fragments/nav :: common-nav"/>
<div class="container my-5">
    <h3> Update Employee</h3>
    <a th:href="@{/employees/list}">Back to Employees List</a>
    <br/><br/>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" th:action="@{/employees/update/{id}(id=${employee.employeeId})}" th:object="${employee}" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="lastName" class="col-form-label">Last Name</label><span style="color: red">(*)</span> <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="Last Name" th:value="${employee.lastName}"> <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="firstName" class="col-form-label">First Name</label> <span style="color: red">(*)</span> <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="First Name" th:value="${employee.firstName}"> <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="title" class="col-form-label">Title</label> <span style="color: red">(*)</span> <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Title"> <span th:if="${#fields.hasErrors('title')}" th:errors="title" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="titleOfCourtesy" class="col-form-label">Title Of Courtesy</label> <span style="color: red">(*)</span> <input type="text" th:field="*{titleOfCourtesy}" class="form-control" id="titleOfCourtesy" placeholder="Title Of Courtesy"> <span th:if="${#fields.hasErrors('titleOfCourtesy')}" th:errors="*{titleOfCourtesy}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="birthDate" class="col-form-label">Birth Date</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"
                                       th:field="*{birthDate}" id="birthDate" placeholder="Birth Date"/>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="birthDate" class="col-form-label">Hire Date</label>
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"
                                       th:field="*{hireDate}" id="hireDate" placeholder="Hire Date"/>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="address" class="col-form-label">Address</label> <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="Address"> <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="city" class="col-form-label">City</label> <input type="text" th:field="*{city}" class="form-control" id="city" placeholder="City"> <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="region" class="col-form-label">Region</label> <input type="text" th:field="*{region}" class="form-control" id="region" placeholder="Region"> <span th:if="${#fields.hasErrors('region')}" th:errors="*{region}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="postalCode" class="col-form-label">PostalCode</label> <input type="text" th:field="*{postalCode}" class="form-control" id="postalCode" placeholder="Postal Code"> <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="country" class="col-form-label">Country</label> <input type="text" th:field="*{country}" class="form-control" id="country" placeholder="Country"> <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="homePhone" class="col-form-label">Home Phone</label> <input type="text" th:field="*{homePhone}" class="form-control" id="homePhone" placeholder="Home Phone"> <span th:if="${#fields.hasErrors('homePhone')}" th:errors="*{homePhone}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="extension" class="col-form-label">Extension</label> <input type="text" th:field="*{extension}" class="form-control" id="extension" placeholder="Extension"> <span th:if="${#fields.hasErrors('extension')}" th:errors="*{extension}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="photo" class="col-form-label">Photo</label> <input type="text" th:field="*{photo}" class="form-control" id="photo" placeholder="Photo">

                        </div>
                        <div class="form-group col-md-6">
                            <label for="notes" class="col-form-label">Notes</label>
                            <input type="text" th:field="*{notes}" class="form-control" id="notes" placeholder="Notes">

                        </div>
                        <div class="form-group col-md-6" th:object="${reportLists}">
                            <label for="notes" class="col-form-label">Report To</label>
                            <select class="form-control" id="reportsTo" name="reportsTo">
                                <option value=""> Choosen Report To </option>
                                <option th:each="reportList : ${reportLists}"
                                        th:value="${reportList.id}"
                                        th:text="${reportList.name}" th:selected="${reportList.id} == ${employee.reportsTo}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="photoPath" class="col-form-label">Photo Path</label>
                            <input type="file" th:field="*{photoPath}" id="photoPath" placeholder="Photo Path">
                        </div>
                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Update Employee">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer" :: common-footer/>
<script>
    $(function() {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    });
</script>
</body>

</html>